.container{
  display: flex;
  justify-content: center;
}
.container2{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top:50px;
}
.div1{
  border:2px solid red;
  width: 250px;
  height:50px;
  justify-content: center;
  display: flex;
}
.span{
  /*display: block;*/
  /*flex-grow: 1;text-align: center;*/
  align-self: center;
}
.div2{
  border: 2px solid green;
  width: 250px;
  height:50px;
  display: flex;
  justify-content: center;
}
.div3{
  border: 2px solid pink;
  width: 250px;
  height:50px;
  display: flex;
  justify-content: center;
}
.animation1{
  margin-top: 20px;
  border: 2px dotted green;
  width: 10%;
}
body{
  perspective: 30px;
}
.animation2{
  margin-top: 60px;
  border: 2px dotted red;
  width: 10%;

}
